<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.android_jumper_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:label="Jumper"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_jumper_app">

        <activity
            android:name=".model.fenetre.FenetrePrincipale"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".model.fenetre.FenetreDeJeu"
            android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".model.fenetre.FenetrePrincipale"/>
        </activity>

    </application>
</manifest>